/*blog post*/
#about{
	background: #f9f9f9;
}
.section-title {
    padding-bottom: 40px;
}
.section-title {
	text-align: center;
}
   #about .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
  }
  .search-form-container {
    border-radius: 15px;
    margin-bottom: 40px;
    border: 4px solid white;
    background-color: #03425e;
    margin-top: -54px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

  @media screen and (max-width: 767px) {
    #about .col-md-4:nth-child(3n) .team-thumb {
      display: flex;
      -webkit-box-orient: vertical;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }
    .search-form-container{
      display: none;
    }
}
  .team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #ffffff;
  }

  .team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #ffffff;
  }

  .team-info {
    position: relative;
    padding: 20px;
  }

  .team-info h3 {margin: 0;}

  .team-info small {
    display: inline-block;
    font-size: 14px;
    margin: 5px 0 30px 0;
    color: #9A9A9A;
  }
.blog-title{
	font-weight: bold;
	color:#f96332;
}
  .team-thumb img {
    width: 100%;
  }

.blog-content{
	background: blue;
}
.blog-sidebar{
	background: green;
}

.search-form {
    width: 100%;
    height: 96px;
    font-size: 1.2rem;
}

.search-box {
    padding-left: 28px;
    padding-right: 28px;
    width: 60%;
}

.advanced-box { width: 20%; }

.form-inline .form-control.search-input {
    margin-right: 20px;
    padding: 10px 15px;
    background: transparent;
    color: white;
    width: 70%;
    border-radius: 0;
}

.form-control.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.form-control.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.form-control.search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666666;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #666666;
}

.form-control {
    font-weight: 300;
    border-radius: 0;
    padding: 12px 20px;
}

.form-control:focus {
    border-color: white;
    box-shadow: none;
}

.search-submit {
    padding: 10px 35px;
    background: transparent;
    color: white;
    border-radius: 0;
}

.search-submit {
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-submit:hover {
    background-color: white;
    color: #B25E6D;
}
.b-below{
  z-index: -1;
}
.new-release {
    background: #f96332;
    color: #fff;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    align-items: center;
    font-weight: 400;
    width: 20%;
}